<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd ">


	<!-- 配置 处理器  本身不用配置这里   配置扫描处理器-->
	<context:component-scan base-package="cn.itcast" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	
	<!-- 视图解释器     jspViewResolver 默认支持 jstl -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置前缀 -->
		<property name="prefix" value="/WEB-INF/front_page/"/>
		<!-- 配置后缀 -->
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!-- 注解开发第二种配置文式  -->
	<mvc:annotation-driven conversion-service="conversionService" />
	
	<!-- 参数格式  字符串类型  yyyy-MM-dd HH-mm-ss  格式化  -->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<!-- 日期转换 -->
				<bean class="cn.itcast.common.convertion.CustomDateConverter"/>
				<!-- 参数 传递 前后去掉空格 -->
				<bean class="cn.itcast.common.convertion.CustomTrimConverter"/>
			</list>
		</property>
	</bean>	
	<!-- 配置Springmvc支持上传图片 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 指定上传大小  上传的图片不能超过1M    默认是 B -->
		<property name="maxUploadSize" value="1048576"/>
	</bean>
	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
		<!-- 拦截规则  -->
			<mvc:mapping path="/**"/>
			<!-- 拦截后 处理的类   要求  实现 接口 interceptorHandler -->
			<bean class="cn.itcast.core.web.inteceptor.FrontInteceptor">
<!-- 				<property name="adminId" value="1"/> -->
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
		
</beans>