<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">
	<!--depAction-->
	<bean id="depAction" class="cn.itcast.erp.auth.dep.web.DepAction" scope="prototype">
		<property name="depEbi" ref="depEbi" />
	</bean>
	<!--depEbi-->
	<bean id="depEbi" class="cn.itcast.erp.auth.dep.business.ebo.DepEbo">
		<property name="depDao" ref="depDao" />
	</bean>
	<!--depDao-->
	<bean id="depDao" class="cn.itcast.erp.auth.dep.dao.impl.DepDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>  
</beans>	
	
