上传成功!  <a href="$appServer.get('/upload/removefile.htm').addQueryData('path',"${result.path}")">删除</a><br/>
上传文件url:$appServer.get("$result.path")<br/>
<a href="$appServer.get("$result.path")">点击下载或打开</a>