<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">
	<bean name="billAction" class="cn.itcast.erp.invoice.bill.web.BillAction" scope="prototype" />	  
	<bean name="billEbi" class="cn.itcast.erp.invoice.bill.business.ebo.BillEbo"></bean>	  
	<bean name="billDao" class="cn.itcast.erp.invoice.bill.dao.impl.BillDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	  
</beans>	
	
