<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">
	<!--roleAction-->
	<bean id="roleAction" class="cn.itcast.erp.auth.role.web.RoleAction" scope="prototype">
		<property name="roleEbi" ref="roleEbi" />
	</bean>
	<!--roleEbi-->
	<bean id="roleEbi" class="cn.itcast.erp.auth.role.business.ebo.RoleEbo">
		<property name="roleDao" ref="roleDao"></property>
	</bean>
	<!--roleDao-->
	<bean id="roleDao" class="cn.itcast.erp.auth.role.dao.impl.RoleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>  
</beans>	
	
